/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: white;
}

a:hover, a:link, a:visited {
    text-decoration: none;
}

#bg-img__wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(17, 73, 59, .7);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.btn {
    border-radius: 14px;
}

.btn__level-select {
    display: block;
    float: none;
    margin-bottom: 10px;
    text-shadow: none;
}

#btn-playAgain__true {
    display: block;
    margin-bottom: 20px;
    margin-top: 100px;
}

/* Override Bootstrap default styling */
.btn-primary:not(:disabled):not(.disabled):active {
    background: transparent;
    border-color: rgba(17, 73, 59, .7);
    color: rgba(17, 73, 59, .7);
    line-height: 1;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}

#btn-wrapper__game-start {
    left: 50%;
    position: fixed;
    top: 80%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 3;
}

.card {
    background-color: transparent;
    border: none;
    height: 150px;
    overflow: hidden;
    position: relative;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    width: 90px;
}

.card__front, .card__back {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    -webkit-transition: -webkit-transform 750ms ease;
    transition: -webkit-transform 750ms ease;
    -o-transition: transform 750ms ease;
    transition: transform 750ms ease;
    transition: transform 750ms ease, -webkit-transform 750ms ease;
    width: 100%;
}

.card__front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}


/* Display the card front */
.card.flipped .card__back{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

.card.flipped .card__front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

.fas{
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.game-click {
    margin-left: auto;
}

#game-container {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 10px auto 10px auto;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    padding-bottom: 10px;
    -webkit-perspective: 1500px;
            perspective: 1500px;
    position: absolute;
    top: 20%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
}

.game-info {
    color: rgba(17, 73, 59, .7);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Permanent Marker', cursive;
    font-size: 0.8rem;
}

.game-info-container {
    position: absolute;
    left: 11%;
    top: 11%;
    width: 75%;
}

#game-won__inner-container {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    display: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    font-weight: normal;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    position: fixed;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#game-won__outer-container {
    display: none;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 20;
}

#hud {
    color: rgba(17, 73, 59, .7);
    display: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 1rem;
    font-weight: normal;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
        -ms-flex-pack: space-between;
            justify-content: space-between;
    left: 50%;
    padding-top: 20px;
    position: absolute;
    text-align: center;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 80%;
    z-index: 10;
}

img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.main-page {
    height: 100vh;
    position: relative;
}

#main-page__background {
    background-image: url("https://res.cloudinary.com/bogtrotter72/image/upload/e_colorize:50,o_78,z_1/v1582458910/Milestone%202/Final%20Images/background_v2_dclpoy.png");
    background-size: cover;
    height: 100vh;
    position: fixed;
    width: 100%;
}

#main-page__bg-img {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: spinIn 1198ms ease-in forwards;
            animation: spinIn 1198ms ease-in forwards;
    height: 300px;
    left: 12%;
    position: absolute;
    top: 20%;
    width: 240px;
}

.modal-content {
    border-radius: 14px;
    color: rgba(17, 73, 59, .7);
    text-align: center;
}
.modal-title {
    padding-left: 30%;
    font-family: 'Permanent Marker', cursive;
    width: 70%;
}

#page-title {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    font-weight: normal;
    padding-top: 20px;
    position: fixed;
    left: 50%;
    text-align: center;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    z-index: 100;
}

.rules, .selectLevel {
    display: inline;
}

.rules, .selectLevel,
.rules:hover, .selectLevel:hover,
.rules:focus, .selectLevel:focus,
.rules:active, .selectLevel:active,
.rules:disabled, .selectLevel:disabled {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    background: transparent;
    border-color: rgba(17, 73, 59, .7);
    -webkit-box-shadow: none;
            box-shadow: none;

    color: rgba(17, 73, 59, .7);
    line-height: 1;
}

#rules {
    display: none;
    background: rgb(137,65,117);
    border: 5px solid rgb(108,171,102);
    border-radius: 20px;
    color: rgb(108,171,102);
    font-size: 1rem;
    left: 5%;
    padding: 5px;
    position: absolute;
    text-align: left;
    width: 50%;
}

#soundOff {
    display: none;
}

/* MS Edge fix */
@supports not (-ms-ime-align: auto) {
    #hud {
      justify-content: space-evenly;
      width: 100%;
    }
    .main-page {
        overflow: hidden;
    }
  }


/* ANIMATIONS */

@-webkit-keyframes spinIn {
    from {
        -webkit-transform:  rotateY(-1080deg) scale(0.1) ;
                transform:  rotateY(-1080deg) scale(0.1) ;
    }
    to {
        -webkit-transform:  rotateY(0deg) scale(1) ;
                transform:  rotateY(0deg) scale(1) ;

    }
}

@keyframes spinIn {
    from {
        -webkit-transform:  rotateY(-1080deg) scale(0.1) ;
                transform:  rotateY(-1080deg) scale(0.1) ;
    }
    to {
        -webkit-transform:  rotateY(0deg) scale(1) ;
                transform:  rotateY(0deg) scale(1) ;

    }
}

@-webkit-keyframes spinOut {
    from {
        -webkit-transform:  rotateY(0deg) scale(1) ;
                transform:  rotateY(0deg) scale(1) ;
    }
    to {
        -webkit-transform:  rotateY(-1080deg) scale(0.1) ;
                transform:  rotateY(-1080deg) scale(0.1) ;
    }
}

@keyframes spinOut {
    from {
        -webkit-transform:  rotateY(0deg) scale(1) ;
                transform:  rotateY(0deg) scale(1) ;
    }
    to {
        -webkit-transform:  rotateY(-1080deg) scale(0.1) ;
                transform:  rotateY(-1080deg) scale(0.1) ;
    }
}

@-webkit-keyframes spinInSpinOut {
    0% {
        -webkit-transform:  rotateY(0deg) scale(1) ;
                transform:  rotateY(0deg) scale(1) ;
    }
    50% {
        -webkit-transform:  rotateY(-1080deg) scale(0.1) ;
                transform:  rotateY(-1080deg) scale(0.1) ;
    }
    100% {
        -webkit-transform:  rotateY(0deg) scale(1) ;
                transform:  rotateY(0deg) scale(1) ;
    }
}

@keyframes spinInSpinOut {
    0% {
        -webkit-transform:  rotateY(0deg) scale(1) ;
                transform:  rotateY(0deg) scale(1) ;
    }
    50% {
        -webkit-transform:  rotateY(-1080deg) scale(0.1) ;
                transform:  rotateY(-1080deg) scale(0.1) ;
    }
    100% {
        -webkit-transform:  rotateY(0deg) scale(1) ;
                transform:  rotateY(0deg) scale(1) ;
    }
}

@-webkit-keyframes noMatch {
    0% {
        left: 50%;
    }
    33% {
        left:  49.5%;
    }
    66% {
        left: 50.5%;
    }
    100% {
        left: 50%;
    }
}

@keyframes noMatch {
    0% {
        left: 50%;
    }
    33% {
        left:  49.5%;
    }
    66% {
        left: 50.5%;
    }
    100% {
        left: 50%;
    }
}

@-webkit-keyframes match {
    0% {
        -webkit-transform:  scale(1);
                transform:  scale(1);
    }
    50% {
       -webkit-transform: scale(0.8);
               transform: scale(0.8);
    }
    100% {
       -webkit-transform: scale(1);
               transform: scale(1);
    }
}

@keyframes match {
    0% {
        -webkit-transform:  scale(1);
                transform:  scale(1);
    }
    50% {
       -webkit-transform: scale(0.8);
               transform: scale(0.8);
    }
    100% {
       -webkit-transform: scale(1);
               transform: scale(1);
    }
}



/* MEDIA QUERIES */
@media only screen and (orientation: landscape) {
    #game-container {
        -ms-grid-columns: auto 10px auto 10px auto 10px auto;
        grid-template-columns: repeat(4, auto);
        top: 25%;
    }

    .game-info-container {
        left: 16%;
        top: 16%;
        width: 65%;
    }

    #game-won__inner-container {
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 360px) {
    #main-page__bg-img {
        left: 18%;
        top: 30%;
    }
}

@media only screen and (min-width: 360px) and (orientation: landscape) {
    #main-page__bg-img {
        height: 150px;
        left: 40%;
        top: 25%;
        width: 130px;
    }
}

@media only screen and (min-width: 600px) {
    #main-page__bg-img {
        left: 30%;
    }
}

@media only screen and (min-width: 600px) and (orientation: landscape) {
    #game-container {
        -ms-grid-columns: auto 10px auto 10px auto 10px auto 10px auto 10px auto;
        grid-template-columns: repeat(6, auto);
        top: 25%;
    }
}

/* Media queries for tablet in portrait orientation */
@media only screen and (min-width: 768px) {
    #btn-wrapper__game-start {
        top: 65%;
    }

    .card {
        height: 225px;
        overflow: hidden;
        position: relative;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
        width: 150px;
    }

    #game-container {
        -ms-grid-columns: auto 10px auto 10px auto 10px auto;
        grid-template-columns: repeat(4, auto);
        top: 10%;
    }

    .game-info {
        font-size: 1.5rem;
    }

    .game-info-container {
        top: 5%;
    }

    #hud {
        font-size: 1.5rem;
    }

    #main-page__bg-img {
        height: 395px;
        left: 30%;
        position: absolute;
        top: 25%;
        width: 315px;
    }
}

/* Media queries for tablets in landscape orientation */
@media only screen and (min-width: 768px) and (orientation: landscape) {
    .card {
        height: 200px;
        width: 130px;
    }

    #game-container {
        top: 25%;
    }

    .game-info-container {
        top: 14%;
    }

    #main-page__bg-img {
        height: 150px;
        left: 42%;
        top: 25%;
        width: 130px;
    }
}

/* Media queries for large tablets and small desktops */
@media only screen and (min-width: 1024px) {
    #btn-startGame {
        font-size: 1.5rem;
    }

    .card {
        height: 280px;
        width: 170px;
    }

    #main-page__bg-img {
        height: 450px;
        left: 30%;
        top: 25%;
        width: 400px;
    }

    #page-title {
        font-size: 4rem;
    }

    #rules {
        font-size: 1.5rem;
        left: 10%;
        width: 30%;
    }
}

/* iPhone X landscape settings */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .card {
        height: 160px;
        width: 110px;
    }

    #game-container {
        top: 22%;
    }

    .game-info-container {
        left: 24%;
        top: 14%;
        width: 50%;
    }

    #main-page__bg-img {
        height: 250px;
        left: 39%;
        top: 25%;
        width: 220px;
    }
}

/* Laptop-S & Laptop-M settings */
@media only screen and (min-width: 1280px) {
    .card {
        height: 200px;
        width: 150px;
    }

    #game-container {
        top: 15%;
    }

    .game-info-container {
        left: 26%;
        top: 8%;
        width: 45%;
    }

    #main-page__bg-img {
        height: 270px;
        left: 40%;
        width: 240px;
    }
}

/* Apple iPad Pro landscape and Laptop-M settings */
@media only screen and (min-width: 1366px) {
    #main-page__bg-img {
        height: 300px;
        left: 41%;
        width: 250px;
    }
}

@media only screen and (min-width: 1366px) and (orientation: landscape) {
    .card {
        height: 200px;
        width: 140px;
    }
}

@media only screen and (min-width: 1440px) {
    #btn-playAgain__true, #btn-playAgain__false {
        font-size: 2rem;
    }

    #btn-wrapper__game-start {
        top: 75%;
    }

    .card {
        height: 200px;
        width: 140px;
    }

    #game-container {
        top: 15%;
    }

    #game-won__inner-container {
        font-size: 3rem;
    }

    #main-page__bg-img {
        height: 400px;
        left: 40%;
        width: 350px;
    }

    #rules {
        font-size: 1.5rem;
        left: 10%;
        width: 30%;
    }
}

/* Settings for large desktops */
@media only screen and (min-width: 1800px) {
    .card {
        height: 250px;
        width: 170px;
    }
}

/* Settings for iMac desktops */
@media only screen and (min-width: 2200px) {
    .card {
        height: 330px;
        width: 220px;
    }

    #main-page__bg-img {
        height: 450px;
        left: 41%;
        width: 400px;
    }
}
