* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#bg-img__wrapper {
    align-items: center;
    background-color: rgba(17, 73, 59, .7);
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#btn-wrapper__game-start {
    left: 50%;
    position: absolute;
    top: 70%;
    transform: translateX(-50%);
    z-index: 3;
}

.card {
    background-color: transparent;
    border: none;
    height: 225px;
    overflow: hidden;
    position: relative;
    transform: scale(1);
    transition: transform 0.3s;
    width: 150px;
}

.card__front, .card__back {
    align-items: center;
    backface-visibility: hidden;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    transition: transform 750ms ease;
    width: 100%;
}

.card__front {
    transform: rotateY(-180deg);
}


/* Display the card front */
.card.flipped .card__back{
    transform: rotateY(-180deg);
}

.card.flipped .card__front{
    transform: rotateY(0deg);
}

#game-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
    left: 50%;
    perspective: 1500px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.game-info {
    color: rgba(17, 73, 59, .7);
    font-size: 1.5rem;
}

.game-info-container {
    grid-column: 1 / -1;
}

#game-won {
    align-items: center;
    color: white;
    display: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    font-weight: normal;
    justify-content: center;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#btn-playAgain__true {
    display: block;
    margin-top: 150px;
    margin-bottom: 20px;
}

#hud {
    color: rgba(17, 73, 59, .7);
    display: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    font-weight: normal;
    justify-content: space-evenly;
    left: 50%;
    padding-top: 20px;
    position: fixed;
    text-align: center;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10;
}

img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.main-page {
    background-image: url("https://res.cloudinary.com/bogtrotter72/image/upload/v1581001491/Milestone%202/Placeholder%20Images/Page_Background_z9vuto-Sharpened_vagovc.png");
    background-size: cover;
    height: 100vh;
    position: relative;
}

#main-page__bg-img {
    align-items: center;
    animation: spinIn 1198ms ease-in forwards;
    height: 395px;
    position: absolute;
    width: 315px;
}


.modal-text {
    align-items: center;
    display: none;
    bottom: 0;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 1;
}

.modal-text.visible {
    display: flex;
}

#page-title {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    font-weight: normal;
    padding-top: 20px;
    position: fixed;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10;
}

.rules, .selectLevel {
    display: inline;
}

.rules {
    align-self: flex-start;
}




/* ANIMATIONS */

@keyframes spinIn {
    from {
        transform:  rotateY(-1080deg) scale(0.1) ;
    }
    to {
        transform:  rotateY(0deg) scale(1) ;

    }
}

@keyframes spinOut {
    from {
        transform:  rotateY(0deg) scale(1) ;
    }
    to {
        transform:  rotateY(-1080deg) scale(0.1) ;
    }
}


@keyframes spinInSpinOut {
    0% {
        transform:  rotateY(0deg) scale(1) ;
    }
    50% {
        transform:  rotateY(-1080deg) scale(0.1) ;
    }
    100% {
        transform:  rotateY(0deg) scale(1) ;
    }
}

@keyframes noMatch {
    0% {
        left: 50%;
    }
    33% {
        left:  49.5%;
    }
    66% {
        left: 50.5%;
    }
    100% {
        left: 50%;
    }
}

@keyframes match {
    0% {
        transform:  scale(1);
    }
    50% {
       transform: scale(1.2);
    }
    100% {
       transform: scale(1);
    }
}


/* MEDIA QUERIES */
@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }
}