* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("https://res.cloudinary.com/bogtrotter72/image/upload/v1580146957/Milestone%202/Placeholder%20Images/Page_Background_z9vuto.png");
    display: flex;
    height: 100vh;
}

.btn-wrapper__main-menu {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

/* Slight offset of the wrapper required for the level select buttons */
.btn-wrapper__level-select {
    display: none;
    left: 60%;
    position: absolute;
    top: 50.6%;
    transform: translate(-50%, -50%);
    width: 200px;
}

.btn {
    margin-bottom: 10px;
    position: relative;
    transition: transform 0.7s;
    width: 100%;
}

/* Set an initial rotation on the button, to animate a rotation when button is first displayed */
.btn__level-select {
    transform: rotateY(90deg);
}

/* Add a container to facilitate the card-flip */
.flip-card-game-container {
    display: none;
    flex-wrap: wrap;
    height: 640px;
    margin: auto;
    perspective: 2000px;
    width: 640px;
}

/* Set the card columns and rows (4 x 3)  */
.flip-card {
    height: calc(33.3333% - 10px);
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.7s;
    width: calc(25% - 10px);
}

.flip-card-front, .flip-card-back {
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
    backface-visibility: hidden;
    height: 100%;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.flip-card-front {
    transform: rotateY(-180deg);
}

/* Display the card front */
.flip-card.flipped {
    transform: rotateY(-180deg);
}   